.area {
    background: #121212;
    /* background: -webkit-linear-gradient(to left, #f5f5ef, #efbc49); */
    width: 100%;
    height: 100%;
  }
  
  .circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    /* background: #ffcb74; */
    /* background: rgba(255, 255, 255, 0.2); */
    background: linear-gradient(338.83deg,#f8c6ff -3.41%,rgba(255,196,255,0) 52.31%),#ffeec4;
    animation: animate 25s linear infinite;
    bottom: -150px;
  }
  
  .circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
  }
  
  .circles li:nth-child(2) {
    left: 10%;
    width: 80px;
    height: 80px;
    /* width: 20px;
    height: 20px; */
    animation-delay: 2s;
    animation-duration: 12s;
  }
  
  .circles li:nth-child(3) {
    left: 70%;
    width: 80px;
    height: 80px;
    /* width: 20px;
    height: 20px; */
    animation-delay: 4s;
  }
  
  .circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
  }
  
  .circles li:nth-child(5) {
    left: 65%;
    background: linear-gradient(6.03deg,#dacdff .5%,rgba(218,205,255,0) 46.89%),#ffeaee;
    width: 80px;
    height: 80px;
    /* width: 20px;
    height: 20px; */
    animation-delay: 0s;
  }
  
  .circles li:nth-child(6) {
    left: 75%;
    background: linear-gradient(338.83deg,#f8c6ff -3.41%,rgba(255,196,255,0) 52.31%),#ffeec4;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
  }
  
  .circles li:nth-child(7) {
    left: 35%;
    width: 80px;
    height: 80px;
    /* width: 150px;
    height: 150px; */
    animation-delay: 7s;
  }
  
  .circles li:nth-child(8) {
    left: 50%;
    background: linear-gradient(6.03deg,#dacdff .5%,rgba(218,205,255,0) 46.89%),#ffeaee;
    width: 80px;
    height: 80px;
    /* width: 25px;
    height: 25px; */
    animation-delay: 15s;
    animation-duration: 45s;
  }
  
  .circles li:nth-child(9) {
    left: 20%;
    width: 80px;
    height: 80px;
    /* width: 15px;
    height: 15px; */
    animation-delay: 2s;
    animation-duration: 35s;
  }
  
  .circles li:nth-child(10) {
    left: 85%;
    background: linear-gradient(39.4deg,#b6a0ea -2.55%,rgba(182,160,234,0) 45.21%),#f1ebff;
    width: 80px;
    height: 80px;
    /* width: 150px;
    height: 150px; */
    animation-delay: 0s;
    animation-duration: 11s;
  }
  
  @keyframes animate {
    0% {
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
    }
  
    100% {
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0.5;
      border-radius: 50%;
    }
  }