
@import url("https://fonts.googleapis.com/css?family=Exo:400,700");

@font-face {
  font-family: "MyWebFont";
  src: url("../src/Fonts/Bogart/BOGARTMEDIUMTRIAL.TTF") format("truetype");
}

* {
  margin: 0px;
  padding: 0px;
  /* background: #121212; */
}

body {
  font-family: "Exo", sans-serif;
  background: #121212;
}

.context {
  width: 100%;
  position: absolute;
  top: 50vh;
}

.context h1 {
  text-align: center;
  color: #fff;
  font-size: 50px;
}

/**************************************************SOCIALS********************************************************/

a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
  color: #eee;
  margin-top: 4%;
  font-size: 1.5rem;
}

a.social:hover {
  transform: translateY(-2px);
  color: palevioletred;
  font-size: 1.6rem;
}

a.instagram {
  margin-left: 40%;
  @media screen and (max-width: 992px) {
    margin-left: 0;
  }
}
